*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fbf6ff;
}
.container{
    position:absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.myRightCtn{
    position: relative;
    background-image: linear-gradient(#f046ff,#9b00e8);
   border-radius: 25px;
   height: 100%;
   padding: 25px;
   color: rgb(192, 192, 192);
font-size: 12px;
display: flex;
justify-content: center;
align-items: center;
}
.myLeftCtn{
    position: relative;
    background:#fff;
   border-radius: 25px;
   height: 100%;
   padding: 25px;
   padding-left: 50px;
}
.myLeftCtn header{
    color: blueviolet;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.row{
    height: 100%;
}
.myCard{
position: relative;
background: #fff;
height: 100%;
border-radius: 25px;
-webkit-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
-moz-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7) ;
}
.myRightCtn header{
    color: #fff;
    font-size: 44px;
}
.box{
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}
.myLeftCtn .myInput{
    width: 230px;
    border-radius: 25px;
    padding:10px;
    padding-left: 50px;
    border:none;  
-webkit-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
-moz-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7) ;
}
.myLeftCtn .myInput:focus{
    outline: none;
}
.myForm{
    position: relative;
    margin-top:50px ;
}
.myLeftCtn .butt{
    background: linear-gradient(45deg,#bb36fd,#9b00e8);
    color: #fff;
    width: 230px;
    border:none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
-moz-box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7);
box-shadow:0px 10px 40px -10px rgba(0,0,0,0.7) ;
}
.myLeftCtn .butt:hover{
    background: linear-gradient(45deg,#bb36fd,#9b00e8); 
}
.myLeftCtn .butt:focus{
    outline: none;
}
.myLeftCtn .fas {
    position: relative;
    color: #bb36fd;
    left: 36px;
}
.hombar{
    color: #DD00FF;
    background-color: #DD00FF;
}
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #4154f1;
    text-decoration: none;
  }
  
  a:hover {
    color: #717ff5;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Sections
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
  }
  
  .section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
  }
  
  @media (max-width: 768px) {
    .section-header p {
      font-size: 28px;
      line-height: 32px;
    }
  }
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 57px;
    }
  }
  .hero .btn-get-started span {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .hero .btn-get-started i {
    margin-left: 5px;
    font-size: 18px;
    transition: 0.3s;
  }
  
  .hero .btn-get-started:hover i {
    transform: translateX(5px);
  }
  
  .hero .hero-img {
    text-align: right;
  }
  
  @media (min-width: 1024px) {
    .hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 120px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 80px;
    }
    .hero .hero-img img {
      width: 80%;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 32px;
    }
    .hero h2 {
      font-size: 24px;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }
  
  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer {
    position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color:#BA55D3;
     color: white;
     text-align: center;
  }
  

  